/*

Template: COINEX - Crypto Currency HTML Template 
Author: iqonicthemes.in
Version: 1.5
Design and Developed by: iqonicthemes.in

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. Please do not change anything here! write in a custom.css file if required!

*/
nav ul {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.top-title{
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: .5625rem;
    color: #666;
}
.title-banner{
    font-size: 11.11111111vmin;
    font-weight: 600;
    color: white;
    letter-spacing: .17rem;
    font-family: butler,Serif;
    width: 10em;
    margin-left: -0.5em;
}
.sub-title-banner{
    margin-top: 1.125rem;
    font-size: 1.2rem;
    color: #666;
    line-height: 1.5;
}
.button-banner{
    background: transparent!important;
    border: 2px solid #f8d243;
   color: white!important;
    font-size: 12px;
    padding: 4px 30px;
    border-radius: 2rem!important;
}
.button-banner:hover{
    background: #f8d243!important;
}
.text-tap{
   margin-top: -30px;
}
.text-tap >a:hover{
 
    text-shadow: 0px 0px 8px rgb(124, 123, 123);
}

.fancy-content{
    height: 27.2vh;
}
.svg-fluid{
    height: 192px;
    width: 60%;
    margin-top: -87px;
       transform: rotate3d(200, -3, -18, 
35deg
)
}
.img-about{
    width: 80%;
    margin-left: 17px;
}
.img-an-wh{
    transition: all 1s ease-in-out;
    
}
#ico:hover .img-an-wh{
    transform: translate(20px, -30px);
    transition: all 1s ease-out;
}
.img-an-ou{
    transition: all 9s ease-in-out;
    transform-origin: center;

}
.overview-block-ptb:hover .img-an-ou{
    animation: rot 10s ease-in-out;
}
.iq-box-an{
transition: all  .5s ease-in-out;
}
.iq-box-an:hover{
    transform: translate(0px, -10px);
    transition: all .7s ease-in-out;

}
.iq-box-an img {
    transition: all 1s ease-in-out;
}
.iq-box-an:hover img {
    transform: translate(0px, -10px);
}
.iq-box-an:hover #frame2{

      transform: translate(97px, -70px);
      transition: all 1s ease-in-out;
} 
#frame2{
transition: all  .5s ease-in-out;

}

@keyframes rot {
    from{
transform: rotateZ(0deg);
    }
    to{
transform: rotateZ(360deg);

    }
}

.Read-more-ser{
    margin-top: 10px;
    border: 1px solid #f8d243;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
}